@import "tailwindcss";

@theme {
  /* To reference these you would do <tailwind-css-property>-<custom-color-reference>
  
  ex. to use --color background ---> bg-background
  ex. to use --color-button ---> bg-button
  ex. to use --color-text: ---> text-text
  */
  --color-background: var(--custom-background);
  --color-border: var(--custom-border);
  --color-text: var(--custom-text);
  --color-button: var(--custom-button-background); 
}

:root {
  --custom-background: rgb(114 35 204);
  --custom-border: rgb(114 35 204);
  --custom-text: rgb(114 35 204);
  --custom-button-background: rgb(114 35 204);
}

.dark {
  --custom-background: rgb(204, 131, 35);
  --custom-border: rgb(204, 131, 35);
  --custom-text: rgb(204, 131, 35);
  --custom-button-background: rgb(204, 131, 35);
}