@import "tailwindcss";

@theme {
  /* To reference these you would do <tailwind-css-property>-<custom-color-reference>
  
  ex. to use --color background ---> bg-background
  ex. to use --color-button ---> bg-button
  ex. to use --color-text: ---> text-text
  */
  --color-background: var(--custom-background);
  --color-border: var(--custom-border);
  --color-text: var(--custom-text);
  --color-button-text: var(--custom-button-text);
  --color-button: var(--custom-button-background);
}

:root {
  --custom-background: rgb(114 35 204);
  --custom-border: rgb(114 35 204);
  --custom-text: rgb(28, 27, 29);
  --custom-button-text: rgb(232, 228, 237);
  --custom-button-background: rgb(114 35 204);
}

.dark {
  --custom-background: rgb(204, 131, 35);
  --custom-border: rgb(204, 131, 35);
  --custom-text: rgb(232, 217, 199);
  --custom-button-text: rgb(241, 239, 244);
  --custom-button-background: rgb(204, 131, 35);
}


/* Custom tailwind classes */
.heading {
  @apply font-bold text-2xl;
}

.button-primary {
  @apply p-4 text-button-text rounded font-bold cursor-pointer;
}